<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
<!-- 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">   -->
<!--     <property name="dataSource" ref="dataSource" />   -->
<!--     <property name="mapperLocations" value="classpath*:com/light/mapper/*Mapper.xml" />   -->
<!-- 	</bean>   -->
	
	<!-- 订单信息Dao层依赖注入 -->
	<bean id="OrdersDaoImpl" class="com.light.dao.impl.OrdersDaoImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<!-- 订单信息service层依赖注入 -->
	<bean id="ordersServiceImpl" class="com.light.service.impl.OrdersServiceImpl">
		<property name="iOrdersDao" ref="OrdersDaoImpl"></property>
	</bean>
	
	<!-- 使用事务 -->
<!-- 	<tx:advice id="lightAdivce" transaction-manager="transactionManager"> -->
<!-- 		<tx:attributes> -->
<!-- 		    <tx:method name="insertLight" propagation="REQUIRES_NEW"/> -->
<!-- 			<tx:method name="selectLight" read-only="true"/> -->
<!-- 			<tx:method name="updateLight" propagation="REQUIRED"/> -->
<!-- 			<tx:method name="deleteLight" propagation="REQUIRED"/> -->
<!-- 		</tx:attributes> -->
<!-- 	</tx:advice> -->
	
	<!-- 配置事务切点 -->
<!-- 	<aop:config> -->
<!-- 		<aop:pointcut expression="execution(* com.light.service.impl.LightServiceImpl.*(..))" id="lightpointcut"/> -->
<!-- 		<aop:advisor advice-ref="lightAdivce" pointcut-ref="lightpointcut"/> -->
<!-- 	</aop:config> -->
	
</beans>
