<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.light.mapper.MyShopCartMapper" >
 
  <resultMap id="MyShopCartLMap" type="com.light.pojo.Light">
    <id column="lightId" property="lightId" jdbcType="INTEGER" />
    <result column="catagoryId" property="catagoryId" jdbcType="INTEGER" />
    <result column="brandId" property="brandId" jdbcType="INTEGER" />
    <result column="styleId" property="styleId" jdbcType="INTEGER" />
    <result column="stuff" property="stuff" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="locate" property="locate" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="UsersCartMap" type="com.light.pojo.Users">
  	<id column="userId" property="userId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="MyShopCartMap" type="com.light.pojo.MyShopCart" >
    <id column="shopCartId" property="shopCartId" jdbcType="INTEGER" />
    <result column="lightId" property="lightId" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="addDate" property="addDate" jdbcType="VARCHAR" />
  </resultMap>
  	
 	<!-- 查询购物车对应的灯饰商品数据-->
 	<select id="selectmyshopcartLight" resultType="com.light.pojo.Light" >
 		SELECT light.lightId,color,locate,price,quantity,description,images,number,shopCartId FROM light,myshopcart where myshopcart.lightId = light.lightId and userId = #{userId} 
 	</select>
 	
	<!-- 对购物车里的商品进行增加操作 -->
	<insert id="addcart" parameterType="com.light.pojo.MyShopCart"> 
		insert into myshopcart (lightId,userId,addDate,number) values (#{lightId},#{userId},#{addDate},#{number})
	</insert>
	
	<!-- 修改购物车数量 -->
	<update id="updateMyShopCartNum" parameterType="com.light.pojo.MyShopCart"> 
		update myshopcart set number = #{number} where shopCartId = #{shopCartId}
	</update>
	
	<!-- 对购物车里的商品进行删除操作 -->
	<delete id="deleteMyShopCart" parameterType="int"> 
		delete from myshopcart where shopCartId = #{shopCartId}
	</delete>
	
	<!-- 清除购物车操作 -->
	<delete id="CleanMyShopCart" parameterType="int"> 
		delete from myshopcart where userId=#{userId}
	</delete>
	
	<!-- 加入订单 -->
	<insert id="addorder" parameterType="com.light.pojo.Orders"> 
		insert into orders (orderId,userId,lightId,buyQuantity,totalPrice,orderDate,orderStateId,orderState,showOrNot) values (#{orderId},#{userId},#{lightId},#{buyQuantity},#{totalPrice},#{orderDate},#{orderStateId},#{orderState},#{showOrNot})
	</insert>
	
</mapper>